/*-article_search-*/
#search {
    position: relative;
    left: 0;
    top: 200px;
    right: 0;
    width: 1000px;
    margin: auto;
    overflow: hidden;
    height: 115px;
    border: solid #DBDBDB 1px;
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #FdFdFd), color-stop(1, #F6F6F6));
}

.search_header {
    position: absolute;
    left: 260px;
    top: 0px;
    height: 23px;
    width: 500px;
}

.search_header ul li {
    text-decoration: none;
    list-style: none;
}

.web_link {
    float: left;
    padding: 3px 8px 3px 8px;
    background-color: #36AF40;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    cursor: default;
    text-decoration: none;
}

.link {
    float: left;
    margin-left: 6px;
    padding: 3px 8px 3px 8px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    color: #000000;
    text-decoration: none;
}

.link:hover {
    background-color: #62C06A;
    color: #ffffff;
}

.search360 {
    position: absolute;
    left: 140px;
    top: 52px;
    height: 25px;
    width: 120px;

}



.search_form {
    position: absolute;
    left: 250px;
    top: 42px;
    height: 39px;
    width: 500px;
    border: 1px #B7B7B7 solid;
    background-color: #FFFFFF;
    margin: 0 8px 0 8px;
}

.search_form input{
    position: absolute;
    height: 30px;
    width: 480px;
    border: 1px #ffffff solid;
}

.search_form div{
    position: absolute;
    left: 480px;
    height: 30px;
    width: 15px;
    border: 1px #ffffff solid;

}

.search_button {
    position: absolute;
    left: 765px;
    top: 42px;
    height: 41px;
    width: 100px;
    border: 1px #393939 solid;
    text-align: center;
    font-size: 18px;
}

#searchFloat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 115px;
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, rgba(255, 250, 255, 0.95)), color-stop(1, rgba(250, 250, 250, 0.95)));
    z-index: 3;
    border: 1px solid #dbdbdb;
    display: none;

}

.search_middle {
    position: absolute;
    left: 180px;
    top: -5px;
    width: auto;
    height: auto;
}