@charset "gb18030";
/*-framest-*/
* {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

a {
    color: #000000;
    text-align: center;
    font-size: 14px;
    text-decoration: none;

}

body {
    position: relative;
    width: 100%;
    min-width: 1000px;
    min-height: 2000px;
    margin: 0 auto;
    padding: 0;
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #FfFfFf), color-stop(1, #EBEBEB));
}

header, article, footer, nav {
    border: solid 1px #CFCFCF;
    font-family: "Times New Roman", serif;
    font-size: 13px;
}

/*-header-*/
header {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width:100%;
    min-width: 1000px;
    border-bottom: 1px solid #D4D4D4;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: #FBFBFB;
}

.head {
    margin: 0 auto;
    padding-top: 6px;
    height: 35px;
   width: 1000px;
}

.head a {
    font-size: 12px;
}

.topLeft {
    float: left;
    display: block;
    background-color: #FBFBFB;
    border: 1px solid #D4D4D4;
    padding: 3px 8px;
}

.topLeft a:hover {
    color: #F50B71;
}

.topRight {
    float: right;
    display: block;
    padding: 5px;
}

.topRight span {
    padding: 0 5px;
}

.topRight span:hover a {
    text-decoration: underline;
    color: #F50B71;
}

/*-article-*/
article {
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    width: 1000px;
    height: 2000px;
    min-height: 2000px;
    border: 0;
}

/*-nav-*/
nav {
    position: fixed;
    left: 1200px;
    top: 30%;
    padding: 0;
    border: 0;
    width: 80px;
    height: 250px;
}

@media screen and (max-width: 1000px) {
    nav {
        display: none;
    }
}

nav ul li {
    width: 65px;
    height: 30px;
    border: 1px solid #CFCFCF;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}

nav ul li img {
    margin: 5px 2px;
    height: 20px;
    width: 25px;
    display: block;
    float: left;
}

nav ul li span {
    font-size: 12px;
    display: block;
    float: left;
    margin: 7px 3px;
    color: #7F7F7F;
}

.navListSpace {
    width: 25px;
    height: 5px;
    background: none;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #c4c4c4;
    border-top: 0;
    border-bottom: 0;
    margin: 0 auto;
    padding: 0;
}

/*-article_former-*/
#former {
    position: relative;
    float: left;
    width: 998px;
    margin: 0 auto;
    height: 70px;
}

.tubiao {
    float: left;
    width: 200px;
    height: 40px;
    border-color: #FFFFFF;
    padding: 18px 10px 10px 10px;
    margin: 0;
}

.weather {
    float: left;
    width: 430px;
    border-color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    height: 45px;
}

.date {
    float: left;
    width: 105px;
    border-right: 1px solid #C4C4C4;
    border-bottom-color: #FFFFFF;
    border-left: 1px solid #C4C4C4;
    border-top-color: #ffffff;
    margin: 10px 0;
    padding: 5px;
    height: 42px;
}

.date:hover {
    border: 1px solid #C4C4C4;
    cursor: pointer;
}

.date span {
    display: block;
    height: 24px;
    text-align: center;
}

.thing {
    position: relative;
    left: 25px;
    float: left;
    border-color: #FFFFFF;
    margin-top: 10px;
    padding: 5px 0;
    height: 45px;
    width: 160px;
}

.email {
    width: 50px;
    margin-top: 5px;
}

.email img {
    position: absolute;
    left: -3px;
    height: 18px;
    width: 20px;
}

.email input {
    position: absolute;
    left: 20px;
    width: 140px;
    height: 18px;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
}

/*-article_search-*/
#searchForm {
    position: relative;
    width:998px;
    float: left;
    margin:0 auto;
    height: 115px;
    border: solid #DBDBDB 1px;
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, #FdFdFd), color-stop(1, #F6F6F6));
}
.search_header {
    position: absolute;
    left: 260px;
    top: 10px;
    height: 23px;
    width: 500px;
}
#searchFloat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 115px;
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0, rgba(255, 250, 255, 0.95)), color-stop(1, rgba(250, 250, 250, 0.95)));
    z-index: 3;
    border: 1px solid #dbdbdb;
    display: none;

}

.search_middle {
    position: absolute;
    left: 180px;
    top: -5px;
    width: auto;
    height: auto;
}


.web_link {
    float: left;
    padding: 3px 8px 3px 8px;
    background-color: #36AF40;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    cursor: default;
}

.link {
    float: left;
    margin-left: 6px;
    padding: 3px 8px 3px 8px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
}

.link:hover {
    background-color: #62C06A;
    color: #ffffff;
}

.search360 {
    position: absolute;
    left: 140px;
    top: 52px;
    height: 25px;
    width: 120px;

}

.search_form {
    position: absolute;
    left: 250px;
    top: 42px;
    height: 39px;
    width: 500px;
    border: 1px #B7B7B7 solid;
    background-color: #FFFFFF;
    margin: 0 8px 0 8px;
}

.search_text {
    position: absolute;
    top:2px;
    left: 5px;
    height: 35px;
    width: 480px;
    font-size: 20px;
    border: 1px #ffffff solid;
    outline: none;
}

.search_hotword {
    position: absolute;
    left: 480px;
    height: 30px;
    width: 15px;
    border: 1px #ffffff solid;
   }

.search_button {
    position: absolute;
    left: 765px;
    top: 42px;
    height: 41px;
    width: 100px;
    border: 1px #393939 solid;
    text-align: center;
    font-size: 18px;
    }

/*-article_Search_List-*/
#longSearch {
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
    height: 38px;
    display: block;
    float: left;
}

.ali{
    float: left;
    width: 68px;
    height: 38px;
    line-height: 38px;
    border-left: solid #ffffff 1px;
    border-right: dotted #c9cbce 1px;
    border-top: solid #c9cbce 1px;
    border-bottom: solid #18B716 1px;
    padding:0 5px 0 30px;
    z-index: 2;
    cursor: pointer;
    background-image: url(../picture/tubiao.jpg);
    background-repeat: no-repeat;
}
.ali:hover{
    cursor: pointer;
    background-image: url(../picture/graytubiao.jpg);
    background-repeat: no-repeat;
}

.goodWeb {
    float: left;
    width: 66px;
    height: 36px;
    line-height: 38px;
    padding: 0 10px 0 30px;
    border-left: solid #18B716 1px;
    border-right: solid #18B716 1px;
    border-top: solid #18B716 3px;
    border-bottom: solid 1px #F8FFF6;
    background-color: #F8FFF6;
    cursor: pointer;
    background-image: url(../picture/tubiao.jpg);
    background-repeat: no-repeat;
}
.goodWeb:hover{
    cursor: pointer;
    background-image: url(../picture/graytubiao.jpg);
    background-repeat: no-repeat;
}

.web, .web:hover {
    background-position: -15px -3px;
}

.news, .news:hover {
    background-position: -15px -50px;
}

.tv, .tv:hover {
    background-position: -15px -100px;
}

.movie, .movie:hover {
    background-position: -15px -153px;
}

.game, .game:hover {
    background-position: -15px -210px;
}

.novel, .novel:hover {
    background-position: -15px -268px;
}

.travel, .travel:hover {
    background-position: -15px -332px;
}

.shopping, .shopping:hover {
    background-position: -15px -392px;
}

.gaps, .gaps:hover {
    background-position: -16px -455px;
}

.openPic{
    border-right: 1px #B7B4B4 dotted;
    border-top: 1px #B7B4B4 solid;
    border-bottom: solid #18B716 1px;
    background-image: url(../picture/tubiao.jpg);
    background-repeat: no-repeat;
    background-position: -16px -528px;
    float: left;
    height: 18px;
    list-style: none;
    background-color: #ffffff;
    padding:20px 0 0 4px;
    margin: 0;
    font-size: 9px;
    color: #969696;
    width: 28px;
    cursor: pointer;
}

.link1{
    float: left;
    display: block;
    width: 18px;
    height: 38px;
    border-top: 1px #B7B4B4 solid;
    border-right: 1px #B7B4B4 solid;
    border-bottom: solid #18B716 1px;
    background-image: url(../picture/tubiao.jpg);
    background-position: -60px -715px;
    cursor: pointer;
}
.link1:hover {
    background-image: url(../picture/tubiao.jpg);
    background-position: -65px -670px;
    }

/*-article_webname-*/
#web {
    position: relative;
    top:2px;
    float: left;
    margin: 0 auto;
    height: 20px;
    width:982px;
    border-left: solid #18B716 1px;
    border-bottom: solid #18B716 1px;
    border-right: solid #18B716 1px;
    border-top: solid #ffffff 1px;
    padding: 6px 0 4px 16px;
    background-color: #F8FFF6;
}

#web ul li {
    float: left;
    width: auto;
    height: 18px;
    font-size: 15px;
    text-align: center;
    padding: 0 13px;
}

#web ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #FF9294;
}

/*-article_main-*/
#main {
    position: relative;
    float: left;
    margin: 0 auto;
    width: 100%;
    height: 1500px;
}

#left_article, #right_article {
    float: left;
    height: 1300px;
    margin-top: 10px;
}

#left_article {
    margin-right: 5px;
    width: 250px;
}

#right_article {
    margin-left: 5px;
    width: 740px;
}

.leftList, .funPic, .funNews {
    margin-bottom: 10px;
    padding: 5px 0 0 5px;
    border: 1px solid #E1E1E1;
    background-color: #FdFdFd;
    box-shadow: 0 1px 2px #d3d3d3;
    -webkit-box-shadow: 0 1px 2px #d3d3d3;
}

.leftList {
    height: 210px;
}

.leftList ul li {
    float: left;
    padding: 0 5px 0 33px;
    line-height: 30px;
    height: 30px;
    width: 83px;
    font-size: 14px;
}

.leftList ul li a:hover {
    color: #FF9294;
    text-decoration: underline;
}

.leftList span {
    padding: 0 4px;
}

.left {
    width: 108px;
    height: 249px;
    display: block;
    float: left;
}

.left li {

    background-image: url(../picture/left.jpg);
    background-repeat: no-repeat;
}

.xw_sp {
    background-position: 3px 4px;
}

.gw_ht {
    background-position: 3px -28px;
}

.hq_jt {
    background-position: 3px -60px;
}

.yx_xyx {
    background-position: 3px -95px;
}

.gx_jm {
    background-position: 3px -128px;
}

.cx_xz {
    background-position: 3px -160px;
}

.sj_xsh {
    background-position: 3px -195px;
}

.right {
    width: 108px;
    height: 249px;
    display: block;
    float: left;
}

.right li {
    background-image: url(../picture/right1.jpg);
    background-repeat: no-repeat;
}

.dy_dshj {
    background-position: 3px 0px;
}

.cp_lc {
    background-position: 3px -33px;
}

.yl_shch {
    background-position: 3px -66px;
}

.dm_zhb {
    background-position: 3px -98px;
}

.jy_dj {
    background-position: 3px -130px;
}

.jp_hchp {
    background-position: 3px -166px;
}

.zy_ly {
    background-position: 3px -198px;
}

.funPic {
    height: 200px;
}

.funNews {
    height: 500px;
}

.rightList, .favorite, .allThings {
    width: 738px;
    margin-bottom: 10px;
    padding: 3px 0 5px 0;
    border: 1px solid #E1E1E1;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #d3d3d3;
    -webkit-box-shadow: 0 1px 2px #d3d3d3;
}

.rightList {
    height: 270px;
}

.rightList span {
    padding: 0 4px;
}

.rightList ul li {
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    float: left;
}

.rightList ul li a:hover {
    color: #FF9294;
    text-decoration: underline;
}

.r1, .r2, .r3 {
    width: 720px;
    padding: 0;
    margin: 0 auto;
}

.r1 {
    height: 30px;
    border-bottom: 1px #C4C4C4 dotted;
}

.addWeb {
    width: 120px;
    height: 22px;
    border: 1px #C4C4C4 dotted;
    background-color: #FBFBFB;
}

.r2 {
    height: 120px;
    border-bottom: 1px #C4C4C4 dotted;
}

.favorite {
    top: -100px;
    height: 200px;
    border: 1px solid #E1E1E1;
    margin-bottom: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 2px #d3d3d3;
    box-shadow: 0 1px 2px #d3d3d3;
}

.allThings {
    top: -100px;
    height: 500px;
    border: 1px solid #E1E1E1;
    margin-bottom: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 2px #d3d3d3;
    box-shadow: 0 1px 2px #d3d3d3;
}

/*-footer-*/
footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    border-top: 1px solid #000000;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #7F7F7F;
}









